<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
</head>
<body>

<div th:replace="fragments/header">
</div>

<div th:replace="fragments/navbar">
</div>

<div class="jumbotron">
    <h1>Lijst van burgelijke staten</h1>

    <a href="/add_burgelijkestaat">Voeg nieuw burgelijke staat toe</a>
</div>

<div class="container-fluid">
        <table class="table-bordered col-md-3">
        <thead>
            <th>Burgelijke staat</th>
            <th>acties</th>
        </thead>
        <tbody>
            <tr th:each="item: ${burgelijkestaatList}">
            <!--td th:text="${item.getGeboorteLandId()}">id</td-->
            <td th:text="${item.getNaam()}">burgelijke staat</td>
             <td>
                <a th:href="@{'/edit_burgelijkestaat/' + ${item.getId()}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete_burgelijkestaat/' + ${item.getId()}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer" >
</div>

</body>
</html>